@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E3E3E3;
    font-family: 'inter';
}
nav{
    background-color: #1A1A1A;
    width: 100%;
}
#label{
    position: absolute;
    top: 0.4rem;
    left: 2rem;
    font-size: 13px;
    font-weight: medium;
    color: #E3E3E3
}
.first{
    background-color: #1A1A1A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6em;
    color: white;
}
#backup{
    display: none;
}

.right-align{
    display: flex;
    flex-direction: row;
    position: relative;
}
.center{
    position: relative
}
.center input{
    padding: 0.4rem;
    background-color: #656266;
    border-radius: 5px;
    width: 480px;
    border: 0.2px solid #ffffff;
    outline: none;
}
.center img{
    position: absolute;
    left: -0.01rem;
    top: 0.4rem;
}
#bell{
    background-color: #656266;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

.name{
    background-color: #656266;
    padding: 0.4rem;
    margin-left: 0.3rem;
    border-radius: 5px;
    cursor: pointer;
}

.initials{
    background-color: #36FBA1;
    padding: 0.4rem;
    border-radius: 5px;
    color: #000000
}
.plan{
    background-color: #1A1A1A;
    margin-top: 2.5rem;
    margin-left: 20%;
    width: 60%;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trial{
    font-size: 13px;
    font-weight: medium;
    color: #E3E3E3
}

button{
    border: none;
    background-color: white;
    color: black;
    text-align: center;
    padding: 0.4rem;
    border-radius: 5px;
    margin-right: 0.5rem;
}
.controller{
    background-color: #FFFFFF;
    margin-top: 2.5rem;
    margin-left: 20%;
    width: 60%;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.title{
    position: relative;
}
.title button{
    position: absolute;
    top: -0.5rem;
    right: -18rem;
}
.main{
    max-width: 1400px;
}
.dropbtn{
    margin-right: 40px;
}
.drop-icon{
    display: none;
}
.show-text .drop-icon{
    display: inline !important;

}

.show-text .open-icon{
    display: none;
}


.color{
    background-color: aliceblue;
    width: 145%
}
.step-text{
    display: none;
}

.active .step-text{
    display: block;
}

.icon{
    position: absolute;
    left: 35rem;
    top: -1rem;
    display: none;
}
.active .icon{
    display: block;
}

.step{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#progressbar{
    accent-color: black;
}
#indicator{
    font-size: 12px;
}

#guide{
    font-size: 14px;
    font-weight: bold;
}
#info{
    color: #303030;
    font-size: 13px;
}

.drop-questions{
    margin-top: 1rem;
    display: none;
}

.show-text.drop-questions{
    display: block !important;
}
.flex1{
    display: flex;
    flex-direction: row;
    position: relative;
}
.flex2{
    display: flex;
}
.ellipse{
    margin: 0 0.2rem;
}
.link{
    font-size: 13px;
    text-decoration: none;
    color: #005BD3
}


.customize{
    margin-top: 0.5rem;
    border: none;
    background-color: #404040;
    color: white;
    font-size: 12px;

}
#break{
    max-width: 32rem;
}

.notification{
    position: relative;
}
.notification-bar{
    position: absolute;
    top: 3rem;
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 350px;
    left: -9rem;
    padding: 1rem;
    
    display: none;
}
.show-text.notification-bar{
    display: block !important;
}

.part1{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
}
.part2{
    background-color: #F1F1F1;
    font-size: 13px;
    padding: 0.53rem;
    font-weight: 400;
    color: #1A1A1A
}

.popup{
    position: absolute;
    top: 3rem;
    background-color: white;
    border-radius: 5px;
    color: #303030;
    width: 300px;
    left: -10rem;
    padding: 0.5rem;
    z-index: 1000;
    font-size: 13px;
    display: none;
}

.popup.show-text{
    display: block !important;
}
.davii{
    display: flex;
    justify-content: space-between;
}
.email{
    margin-left: 0.5rem;
}
.dummy-btn{
    border: none;
}
.dummy-btn:hover{
    border: 2px solid #005BD3
}
@media only screen and (max-width: 430px) {
    #bell{
        background: transparent;
    }
    #logo{
        display: none;
    }
    #backup{
        display: block;
    }
    .center input{
        padding: 0.4rem;
        background-color: #656266;
        border-radius: 5px;
        width: 150px;
        border: 0.2px solid #ffffff;
        outline: none;
    }
    .name{
        display: none;
    }
    .initials{
        margin-left: 6px;
        padding: -0.8px;
    }
    .plan{
        width: 100%;
        margin: 2rem 0;
        flex-direction: column;
        height: 6.5rem;
    }
    .decider{
        position: relative
    }

    button{
        position: absolute;
        top: -1.9rem;
        right: 3.5rem;
        width: 100px;
    }
    .trial{
        font-size: 11.5px;
    }

    #close{
        position: absolute;
        top: -3.2rem;
        left: 10rem;
    }

    .controller{
        width: 100%;
        margin: 0;
    }
    #customize-store{
        display: none;
    }
    #product{
        display: none;
    }
    #assets{
        display: none;
    }
    #name-store{
        display: none;
    }
    #payment{
        display: none;
    }
    .title button{
        position: absolute;
        top: -0.5rem;
        right: -1.9rem;
    }
    #info{
        max-width: 275px;
    }
    .customize{
        position: absolute;
        top: 6rem;
        left: 2rem;
        border: none;
        background-color: #404040;
        color: white;
        font-size: 12px;
    
    }
    .step{
        margin-top: 3rem;
    }
    #first{
        margin-top: 1rem;
        margin-bottom: 5rem;
    }
    #pay{
        margin-top: 1.5rem;
    }

    /*.notification-bar{
        position: absolute;
        top: 3.6rem;
        background-color: white;
        border-radius: 5px;
        color: black;
        width: 350px;
        left: -18rem;
        padding: 1rem;
        z-index: 100;
    }*/
    .popup{
        position: absolute;
        top: 3rem;
        background-color: white;
        border-radius: 5px;
        color: #303030;
        width: 300px;
        left: -15rem;
        padding: 0.5rem;
        z-index: 1000;
        font-size: 13px;
    }
    .davii{
        display: flex;
        justify-content: space-evenly
    }

}


